:root{
    --main-color:#007bff;
    --secondary-color:#f8f9fa;
    --black: #343a40;
    
}

*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif!important;
    color: var(--black);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    --ms-box-sizing: border-box;
    --o-box-sizing: border-box;
    --border-radius: 15px;
    
}



nav .cx{
    margin-left:-5px;
}
nav a img:hover{
    transform: scale(1.05);
}
.container nav{
    position: sticky;
    top:0;
    left:0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0px 3px var(--secondary-color);
}

.container nav .navbar-toggler{
    outline-color: var(--main-color);
    color: var(--main-color)
}
nav .cx a:hover{
    text-decoration: none;
    color: var(--main-color);
    font-size: 1.1em;
}

header  , 
.container .category ,
.container .courses{
    padding-top: 100px;
}

header .header-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

header .row  :nth-child(2){
    margin-top:40px;
}

.category h1 , 
.category .about-category ,
.courses h1 ,
.courses .about-courses{
    text-align: center;
}
.category .about-category ,
.courses .about-courses{
    margin-bottom: 50px;;
}
.category h1 ,
.courses h1{
    font-size: 40px;;
}

.category .row .card{
	height: 350px;
}
.courses .row .card{
	height: 400px;
}
.category .row .card ,
.courses .row .card{
    margin: 30px 10px;
    border-radius: var(--border-radius);
    transition: .04s ease-in;
}
.category img ,
.courses img{
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}


.courses .button{
    width: 100px;
    height: 40px;
    border-radius: var(--border-radius);
    background-color: var(--main-color);
    border: none;
    margin: 0px auto;
    transition: 0.2s;
}


.courses .button:hover{
    transform: scale(1.05);
    cursor: pointer;
}


.courses .price{
    margin-top: -10px;
}
.courses del{
    color: red;
    margin-left: 10px;

}
.category .row .card h3 ,
.category .row .card p ,
.courses .row .card h3 ,
.courses .row .card p{
    margin-left: 20px;
}


.category .row .card h3 ,
.courses .row .card h3 {
    margin-top: 20px;
    font-size: 25px;
}


.category .row .card:hover ,
.courses .row .card:hover{
    cursor: pointer;
    transform:scale(1.008);
    box-shadow: 0px 0px 8px 0px var(--main-color);
}


