header  , 
.container .category ,
.container .courses{
    padding-top: 100px;
}

header .header-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
}

header .row  :nth-child(2){
    margin-top:40px;
}

.category h1 , 
.category .about-category ,
.courses h1 ,
.courses .about-courses ,
.pricing h1 , 
.pricing .about-pricing {
    text-align: center;
}
.category .about-category ,
.courses .about-courses ,
.pricing .about-pricing{
    margin-bottom: 50px;;
}
.category h1 ,
.courses h1 ,
.pricing h1{
    font-size: 40px;;
}

.category .row .card{
	height: 350px;
}
.courses .row .card{
	height: 400px;
}
.category .row .card ,
.courses .row .card{
    margin: 30px 10px;
    border-radius: var(--border-radius);
    transition: .04s ease-in;
}
.category img ,
.courses img{
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}


.courses .button{
    width: 100px;
    height: 40px;
    border-radius: var(--border-radius);
    background-color: var(--main-color);
    border: none;
    margin: 0px auto;
    transition: 0.2s;
}


.courses .button:hover{
    transform: scale(1.05);
    cursor: pointer;
}


.courses .price{
    margin-top: -10px;
}
.courses del{
    color: red;
    margin-left: 10px;

}
.category .row .card h3 ,
.category .row .card p ,
.courses .row .card h3 ,
.courses .row .card p{
    margin-left: 20px;
}


.category .row .card h3 ,
.courses .row .card h3 {
    margin-top: 20px;
    font-size: 25px;
}


.category .row .card:hover ,
.courses .row .card:hover{
    cursor: pointer;
    transform:scale(1.008);
    box-shadow: 0px 0px 8px 0px var(--main-color);
} 
